<header class="desktop" id="header-desktop">
    <div class="header-wrapper">
        <div class="header-title">
            <a href="{{ site.baseurl }}/"> GCASR</a>
            <span style="font-weight: normal">{{site.subtitle}}</span>
        </div>
        <div class="menu">
            <div class="menu-inner">
                <a class="menu-item" href="#home">Home</a>
                <a class="menu-item" href="#past-conferences">Past Conferences</a>             
                <a href="javascript:void(0);" class="menu-item theme-switch" title="Switch Theme">
                    <i class="fas fa-adjust fa-fw"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<header class="mobile" id="header-mobile">
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header-title">
                <a href="{{ site.baseurl }}/">GCASR</a>
                <div class="menu-toggle" id="menu-toggle-mobile">
                    <span></span><span></span><span></span>
                </div>
            </div>
            <div class="menu" id="menu-mobile">
                <a class="menu-item" href="#home">Home</a>
                <a class="menu-item" href="#past">Past Conferences</a>
                <a href="javascript:void(0);" class="menu-item theme-switch" title="Switch Theme">
                    <i class="fas fa-adjust fa-fw"></i>
                </a>
            </div>
        </div>
    </div>
</header>